body{
	cursor:url("cursor.png") !important;
	transition-duration: 1s;
}

@font-face {
	font-family: 'Edwardian Script ITC'; src: url('Edwardian Script ITC.TTF') format ('TTF'); 
}
@font-face{
	font-family: 'Matura MT Script Capitals'; src: url('Matura MT Script Capitals.TTF') format ('TTF'); 
}
@font-face{
	font-family: 'Pristina'; src: url('Pristina.TTF') format ('TTF'); 
}
@font-face{
	font-family: 'Sanseriffic'; src: url('sanseriffic.TTF') format ('OpenType') ; 
}
@font-face {
	font-family: 'Segoe UI Light'; src: url('segoeuil.ttf') format ('ttf'); 
	
}
.bodym{
	background-color: #333;
}
.contenido{
	
	min-height: 500px;
}
.deslizar{
	-moz-animation-duration: 3s;
  	-webkit-animation-duration: 3s;
  	-moz-animation-name: slidein;
  	-webkit-animation-name: slidein;
}
.titulo:hover{
	text-decoration: none !important;
	color: #bbb;
	
}
.Adecuar{
	width: 100%;
}
table thead{
	background-color: #333;
}

.modificar{
	background-color: #eee;
}
.modificar a{
	padding: 2px;
	color: #F37934;
}
.eliminar{
	background-color: #eee;
}
.eliminar a{
	background-color: #eee;
	color: #B8312F;
}
.barra{
	background-color: #D90000;
	height: 60px;
	z-index: 3;
}
/*Index*/
.previewplato{
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 5px #111;
}
.previewplato:hover, .mapa:hover,.foot:hover,.slide:hover{
	cursor: pointer;
	box-shadow: 0px 0px 30px #333;
	transition-duration:0.5s;
}
.mapa{
	box-shadow: 0px 0px 5px #111;
}
.slide{
	box-shadow: 0px 0px 5px #111;
}
.elemento{
	-moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
}
.elemento:hover{
	width: 120%;
	
}
.logo{
	width: 148px;
	height: 100px;
}
.sombra-text-3{
	text-shadow: 0px 3px 3px #111;
}
.sombra-text-2{
	text-shadow: 0px 2px 3px #111;
}
.foot{
	padding: 5px;
	background-color: #111111 !important;
	position: relative;
	clear: both;
	font-weight: normal;
	font-size: 18px
	box-shadow: 0px 0px 5px #111;
}
.registro{
	font-family: "Segoe UI Light" !important;
	font-size: 18px;
	border-left: 2px #333 solid;
	border-right: 2px #333 solid;
	border-bottom: 2px #333 solid;
	border-radius: 2px;
}
.fuente1{
	 font-family: "Edwardian Script ITC";
	 font-size: 34px;
}
.fuente2{
	 font-family: "Matura MT Script Capitals";
}
.fuente3{
	 font-family: "Pristina";
}
.fuente4{
	 font-family: "Sanseriffic";
	 font-family: "tahoma";
	 font-size: 20px;
}
.fuente5{
	 font-family: "Segoe UI Light" !important;
	
}

.fuente-Subtitulo{
	font-weight: normal;
	font-size: 20px;
}
.fuente-Contenido{
	font-weight: bold;
	font-size: 14px;
	padding-left: 8px;
}
.fondo-Blanco{
	background-color: #EEE !important;
}
.fondo-Plomo{
	background-color: #333 !important;
	height: 100%;
	width: 100%;
}
.centrar{
	margin: auto;
}

.cblanco{
	color: #eee;
}
.crojo{
	
}
.cplomo{
	color: #333;
}
.cnegro{
	color: #111;
}
.cverde{
	
}
.cceleste{

}

.beliminar{
	background-color: #333;
	border-radius: 2px;
	padding: 2px;
}
.bmodificar{

}


@-moz-keyframes slidein {
      from {
        margin-left:50%;
        width:300%
        visibility: hidden;
      }
      
      to {
        margin-left:0%;
        width:100%;
        visibility: visible;
      }
    }
    
@-webkit-keyframes slidein {
  from {
    margin-left:50%;
    visibility: hidden;
  }
  
  to {
    margin-left:0%;
    width:100%;
    visibility: visible;
  }
}